# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.23'

    - name: Setup Golang caches
      uses: actions/cache@v4
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: ${{ runner.os }}-golang-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-golang-
    
    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...

    - name: Verify API Usage
      run: $(go run  ./... api-usage -k ${{secrets.API_KEY}} 2>/dev/null)

    - name: Verify Devices
      run: $(go run  ./... api-usage -k ${{secrets.API_KEY}} 2>/dev/null)

    - name: Verify History
      run: $(go run  ./... history -k ${{secrets.API_KEY}} -i ${{secrets.INVERTER}} -V todayYield 2>/dev/null )

    - name: Verify Real-time
      run: $(go run  ./... realtime -k ${{secrets.API_KEY}} -i ${{secrets.INVERTER}} 2>/dev/null)

    - name: Verify Variables (Table)
      run: $(go run  ./... variables -k ${{secrets.API_KEY}} -o table 2>/dev/null )

    - name: Verify Variables (Table-GridOnly)
      run: $(go run  ./... variables -k ${{secrets.API_KEY}} -o table -g 2>/dev/null )

    - name: Verify Variables (Json)
      run: $(go run  ./... variables -k ${{secrets.API_KEY}} -o json 2>/dev/null )
